@charset "utf-8";
body {
	font-family: sans-serif;
	font-size: 18px;
	margin: 0px;
	padding: 0px;
	background-color: #000000;
	background-size: 100% 100%;
}
.blur {
	pointer-events: none;
}
.titleincartwindow {
	color: #FFF;
	background-color: #999;
	text-align: center;
	width: 100%;
	padding-top: 2px;
	padding-bottom: 2px;
}
#summaryboxes div {
	float: left;
	width: 33.3%;
	text-align: center;
	overflow: hidden;
	font-size: 12px;
	font-weight: bold;
	line-height: 150%;
	margin: 0px;
	padding: 0px;
}
#summarycartwindow {
	margin-top: 7px;
	margin-bottom: 5px;
	text-align: center;
}
.listallproducts {
	padding-top: 3px;
}


#summaryboxes {
	margin-top: 5px;
}
#totalorder {
	float: right;
	margin-top: 5px;
	margin-right: 10px;
	margin-bottom: 5px;
}
.lessblur {
	-webkit-filter: blur(0px);
	pointer-events: all !important;
}
.logotext {
	font-family: sans-serif;
	font-size: 44px;
	font-weight: normal;
	color: #FFF;
	text-decoration: none;
	text-shadow: 2px 2px 10px #000;
	font-style: italic;
	text-align: center;
}
.logotextsmall {
	font-family: sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #FFF;
	text-decoration: none;
	text-shadow: 2px 2px 10px #000;
	text-align: center;
}
#loading {
	margin-right: 2%;
	margin-left: 2%;
	position: fixed;
	z-index: 5;
	width: 96%;
	top: 170px;
	display: none;
}
.listproduct {
	text-align: center;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}
#ordernowwindow {
	background-color: #FFF;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 100;
	display: none;
}


#spinner {
	background-image: url(282.gif);
	background-repeat: no-repeat;
	width: 50%;
	height: 50px;
	margin-right: 25%;
	margin-left: 25%;
	position: absolute;
	background-size: auto 60%;
	background-position: center center;
	background-color: rgba(255,255,255,0.5);
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.opencartwindowbutton {
	color: #FFF;
	background-color: #2785B0;
	text-align: center;
	width: 100%;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.opencartwindowbutton2 {
	color: #FFF;
	background-color: #999999;
	text-align: center;
	width: 100%;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

#navigation {
	background-color: #FFF;
	height: 40px;
	width: 100%;
	position: absolute;
	z-index: 1;
	border-top-width: 6px;
	border-top-style: solid;
	border-top-color: #000;
}
#navigation select {
	height: 40px;
	width: 50%;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	padding-left: 10px;
	float: right;
}
#navigation img {
	margin-left: 5%;
	height: 100%;
}
#opencartwindow {
	background-color: rgba(255,255,255,0.9);
	box-shadow: 0 0 25px 1px rgba(0,0,50,0.3);
	transition: all 0.5s;
	position: absolute;
	z-index: 2;
	height: auto;
	min-height:100px;
	width: 80%;
	margin-right: 5%;
	margin-left: 5%;
	display: none;
	margin-top: 15%;
	padding: 5%;
	font-size: 14px;
}
