@charset "utf-8";
table {
	background-color: #FFF;
	margin-bottom: 10px;
}
.addtocart {
	color: #000;
	background-color: #FFF;
	text-align: center;
	width: 110px;
	max-width: 400px;
	padding: 6px;
	margin-right: 10px;
	font-size: 13px;
	border: 2px solid #000;
	border-radius:3px;
}
table td {
	width: 33%;
	text-align: center;
	font-size: 13px;
}
table img {
	width: 100%;
	height: auto;
}
